{{ tcv_center }} {{ tcid }} {{ event_name }} {{ time_ymd }} {{ time_hm }} {{ lat }} {{ lon }} {{ stormdir }} {{ stormspd }} {{ mslp }} {{ poci }} {{ roci }} {{ vmax }} {{ rmw }} {{ ne34 }} {{ se34 }} {{ sw34 }} {{ nw34 }} {{ ne50 }} {{ se50 }} {{ sw50 }} {{ nw50 }} {{ ne64 }} {{ se64 }} {{ sw64 }} {{ nw64 }} {{ stormdepth }}  